################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/crudweb/.vs/crudweb/v15
